<!DOCTYPE html>
<html>
<head>
  <title>Litigo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="head_bar">
    <div id="inside_head">
      <%= link_to image_tag('head.png'), root_path %>
      <div id="user_nav">
        <% if user_signed_in? %>
          Welome, <%= current_user.login %>
          <%= link_to (button_tag 'SIGN OUT', id: 'sign_out_btn'), destroy_user_session_path, method: :delete  %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="head_bar_menu">
    <div id="search">
      <%= form_tag (cases_path) do text_field_tag('search', nil, placeholder: 'SEARCH') end %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div id="vertical_menu">Menu<br> fbhsdj</div>
      </div>
      <div class="span9"><%= yield %></div>
    </div>
  </div>

</body>
</html>
